
		<div class="container">
			<div class="row">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th class="col-md-1">#</th>
					<th class="col-md-1">商品</th>
					<th class="col-md-1">单价</th>
					<th class="col-md-1">数量</th>
					<th class="col-md-1">增加</th>
					<th class="col-md-1">减少</th>
					<th class="col-md-1">小计</th>

				</tr>
			</thead>
			<tbody>
				<tr  ng-repeat="data in datas">
					<th class="col-md-1" scope="row">{{data.id}}</th>
					<td class="col-md-1">{{data.name}}</td>
					<td class="col-md-1">{{data.price | currency}}</td>
					<td class="col-md-1">{{data.count}}</td>
					<td class="col-md-1"  ng-click="addNum($index)">{{data.add}}</td>
					<td class="col-md-1" ng-click="reduceNum($index)">{{data.reduce}}</td>
					<td class="col-md-1">{{data.count*data.price | currency}}</td>
 	        <th class="col-md-2" ng-click="delProduct($index)">删除</th>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="col-md-1 col-md-offset-9">totlal Num:{{TotalNum}}</td>
					<td class="col-md-1">total Price:{{TotalPrice | number: 2}}</td>
				</tr>
			</tfoot>
		</table>
		</div>
		</div>
